html{
    overflow: scroll;
    overflow-x: hidden;
    width: 100% ;  
    height: 100%;
    margin: 0px;
}

#fundo_inicial{
    position: absolute;
    width: 110%;
    height: 700px;
    background-image: linear-gradient(rgb(119, 99, 119),transparent);
    
    margin-top: -30px;
    margin-left: -30px;
    position: inherit;
  
}

h1{
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    margin-top: -500px;
    transition: ease-out 0.3s;
    position: relative;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic";
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    left: 0px;
    
    margin-top: 0px;
    transition: ease-out 0.3s;
}

#bloco1{
    position: relative;
    width: 26.66%;
    height: 400px;
    background-color: white;
    margin-top: 70px;
    border-radius: 50px;
    left: 5%;
    box-shadow: 0 0 50px #ffffffa4;
}

#bloco2{
    position: relative;
    width: 26.66%;
    height: 400px;
    background-color: white;
    margin-top: -400px;
    border-radius: 50px;
    left: 38%;
    box-shadow: 0 0 50px #ffffffa4;
}

#bloco3{
    position: relative;
    width: 26.66%;
    height: 400px;
    background-color: white;
    margin-top: -400px;
    border-radius: 50px;
    left: 70%;
    box-shadow: 0 0 50px #ffffffa4;
}