html{
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}


#bell, #bell1, #bell2{
    opacity: 0.3;
    color: #b7b7b7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 480px;
    font-weight: bold;
}

#bell{
    margin-top: -200px;
}

#bell1, #bell2{
    margin-top: -680px;
}

h1{
    color: #000000;
    margin-top: -1350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 45px;
    position: relative;
    left: 26.5%;
    transition: ease-out 0.3s;
    
}

h1:hover{
    cursor: default;
    transition: ease-in 0.3s;
    transform: scale(1.02);
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 24px;
    color: black;
    position: absolute;
    left:63%;
    opacity: 0.4;
    top:58%;
    transition: ease-out 0.3s;
}

div{
    color: black;
}
.cassino{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 80%;
    opacity: 0.4;
    top:58%;
    transition: ease-out 0.3s;
}

.cassino:hover{
    cursor: default;
    opacity: 1;
    transition: ease-in 0.3s;
}
.centro:hover{
    cursor: default;
    opacity: 1;
    transition: ease-in 0.3s;
}

A{
    text-decoration: none;
    color: #000000;
}

@media (max-width: 768px) {
    html{
        overflow: hidden;
        background-color: #000000;
    }

    #bell1, #bell2, #bell{
        visibility: hidden;
    }

    h1{
        color: #FFFFFF;
        margin-top: -1250px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 30px;
        position: relative;
        left: 10px;
    }
}