html{
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bell, #bell1, #bell2{
    opacity: 0.9;
    color: #181616;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 480px;
    font-weight: bold;
}

#bell{
    margin-top: -200px;
}

#bell1, #bell2{
    margin-top: -680px;
}

h1{
    color: #FFFFFF;
    margin-top: -1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 30px;
    position: relative;
    left: 10px;
    transition: ease-out 0.3s;
}

h1:hover{
    cursor: default;
    transition: ease-in 0.3s;
    transform: scale(1.02);
}

#centro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    left: -150px;
    opacity: 0.6;
    top: 42px;
}

#cassino{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    left: 150px;
    opacity: 0.6;
    margin-top: 0px;
}

#cassino:hover, #centro:hover{
    cursor: default;
    opacity: 1;
    transition: ease-in 0.3s;
}

@media (max-width: 768px) {
    html{
        overflow: hidden;
        background-color: #000000;
    }

    #bell1, #bell2, #bell{
        visibility: hidden;
    }

    h1{
        color: #FFFFFF;
        margin-top: -1250px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 30px;
        position: relative;
        left: 10px;
    }
}